Repository digital-organizations/digital-org: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, tests

Codecov changes
  .circleci/config.yml
  pom.xml
Due: none

Codecov changes
  .circleci/config.yml
  codecov.yml
Due: none

Codecov changes
  .circleci/config.yml
Due: none

service implementation
  pom.xml
  src/main/java/com/engg/digitalorg/DigitalOrgApplication.java
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/api/EmailApi.java
  src/main/java/com/engg/digitalorg/api/EmailValidationApi.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/EmailValidationManager.java
  src/main/java/com/engg/digitalorg/model/mapper/CardMapper.java
  src/main/java/com/engg/digitalorg/model/request/CardRequest.java
  src/main/java/com/engg/digitalorg/model/request/CardResponse.java
  src/main/java/com/engg/digitalorg/model/request/GroupRequest.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/java/com/engg/digitalorg/services/EmailService.java
  src/main/java/com/engg/digitalorg/services/EmailValidationServices.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/resources/application.properties
  src/main/resources/files/favicon.png
  src/main/resources/img/favicon.png
Due: backend, frontend

test case failure fix
  src/main/java/com/engg/digitalorg/model/mapper/CardMapper.java
Due: backend, frontend

refault port no.
  src/main/resources/application.properties
Due: frontend

disable tmpdir
  src/main/resources/application.properties
Due: frontend

revert compiler target version
  pom.xml
Due: none

Code changes with Test cases.
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/EmailValidationManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/model/entity/CardInGroup.java
  src/main/java/com/engg/digitalorg/model/entity/User.java
  src/main/java/com/engg/digitalorg/model/mapper/StringListConverter.java
  src/main/java/com/engg/digitalorg/model/request/GroupRequest.java
  src/main/java/com/engg/digitalorg/model/response/GroupResponse.java
  src/main/java/com/engg/digitalorg/repository/GroupCustomRepository.java
  src/main/java/com/engg/digitalorg/repository/GroupCustomRepositoryImpl.java
  src/main/java/com/engg/digitalorg/repository/UserInGroupCustomRepository.java
  src/main/java/com/engg/digitalorg/repository/UserInGroupCustomRepositoryImpl.java
  src/main/java/com/engg/digitalorg/repository/UserInGroupRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/resources/application.properties
  src/main/resources/sql/card.sql
  src/test/java/com/engg/digitalorg/api/CardApiTest.java
Due: backend, frontend

pointing db to aws
  src/main/resources/application.properties
Due: frontend

image upload and download changes
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/model/entity/Card.java
  src/main/java/com/engg/digitalorg/model/entity/CardInGroup.java
  src/main/java/com/engg/digitalorg/model/entity/Group.java
  src/main/java/com/engg/digitalorg/model/entity/Icon.java
  src/main/java/com/engg/digitalorg/model/entity/Url.java
  src/main/java/com/engg/digitalorg/model/entity/User.java
  src/main/java/com/engg/digitalorg/model/entity/UserInGroup.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/resources/sql/digital.sql
Due: backend, frontend

commenting test case
  src/test/java/com/engg/digitalorg/api/CardApiTest.java
Due: none

Test cases
  pom.xml
  src/test/java/com/engg/digitalorg/model/mapper/StringListConverterTest.java
  src/test/java/com/engg/digitalorg/model/request/CardRequestTest.java
  src/test/java/com/engg/digitalorg/model/request/CardRequestTestTest.java
  src/test/java/com/engg/digitalorg/model/request/GroupRequestTest.java
  src/test/java/com/engg/digitalorg/model/response/CardResponseTest.java
  src/test/java/com/engg/digitalorg/model/response/GroupResponseTest.java
  src/test/java/com/engg/digitalorg/model/response/IconResponseTest.java
Due: none

fix codacy warning
  src/main/java/com/engg/digitalorg/model/entity/Card.java
  src/main/java/com/engg/digitalorg/model/entity/CardInGroup.java
  src/main/java/com/engg/digitalorg/model/entity/Group.java
  src/main/java/com/engg/digitalorg/model/entity/Icon.java
  src/main/java/com/engg/digitalorg/model/entity/Url.java
  src/main/java/com/engg/digitalorg/model/entity/User.java
  src/main/java/com/engg/digitalorg/model/entity/UserInGroup.java
Due: backend, frontend

multipart fix
  pom.xml
Due: none

codecov
  .travis.yml
  pom.xml
  src/main/java/com/engg/digitalorg/SwaggerConfig.java
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/exception/DigitalExceptionHandler.java
  src/main/java/com/engg/digitalorg/exception/NotFoundException.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/managers/UrlManager.java
  src/main/java/com/engg/digitalorg/model/entity/Card.java
  src/main/java/com/engg/digitalorg/model/entity/SuggestionQueue.java
  src/main/java/com/engg/digitalorg/model/mapper/ErrorMessage.java
  src/main/java/com/engg/digitalorg/model/request/CardInGroupRequest.java
  src/main/java/com/engg/digitalorg/model/request/CardUpdateRequest.java
  src/main/java/com/engg/digitalorg/model/request/SuggestionQueueRequest.java
  src/main/java/com/engg/digitalorg/repository/CardInGroupRepository.java
  src/main/java/com/engg/digitalorg/repository/SuggestionQueueRepository.java
  src/main/java/com/engg/digitalorg/repository/UrlRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/java/com/engg/digitalorg/util/BaseConversion.java
  src/main/java/com/engg/digitalorg/util/DigitalUtil.java
  src/main/resources/application.properties
  src/main/resources/sql/digital.sql
Due: backend, frontend

travis-ci.com badge
  README.md
Due: none

db connection correction
  src/main/resources/application.properties
Due: frontend

get all suggestion services + bug fix
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/exception/DigitalExceptionHandler.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/UrlManager.java
  src/main/java/com/engg/digitalorg/model/entity/Card.java
  src/main/java/com/engg/digitalorg/model/entity/SuggestionQueue.java
  src/main/java/com/engg/digitalorg/model/request/SuggestionQueueRequest.java
  src/main/java/com/engg/digitalorg/repository/SuggestionQueueRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/resources/application.properties
  src/main/resources/sql/digital.sql
  src/main/resources/sql/org.sql
Due: backend, frontend

card to group service + test case
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/repository/SuggestionQueueRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/resources/application.properties
Due: backend, frontend

suggestion api url correction
  src/main/java/com/engg/digitalorg/api/CardApi.java
Due: backend, frontend

bug fix for card to group service
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/exception/DigitalExceptionHandler.java
  src/main/java/com/engg/digitalorg/exception/ForbiddenException.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/repository/CardInGroupRepository.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
Due: backend, frontend

bug fix for card to group service + DB schema design report
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/repository/SuggestionQueueRepository.java
  src/main/java/com/engg/digitalorg/repository/UrlRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/resources/img/digital-db.png
Due: backend, frontend

delete suggestion service + monitoring implementation
  README.md
  pom.xml
  src/main/java/com/engg/digitalorg/api/CardApi.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/api/UrlApi.java
  src/main/java/com/engg/digitalorg/exception/DigitalExceptionHandler.java
  src/main/java/com/engg/digitalorg/exception/ForbiddenException.java
  src/main/java/com/engg/digitalorg/managers/CardManager.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/managers/UrlManager.java
  src/main/java/com/engg/digitalorg/model/request/CardInGroupRequest.java
  src/main/java/com/engg/digitalorg/model/request/SuggestionQueueRequest.java
  src/main/java/com/engg/digitalorg/repository/CardInGroupRepository.java
  src/main/java/com/engg/digitalorg/repository/SuggestionQueueRepository.java
  src/main/java/com/engg/digitalorg/repository/UrlRepository.java
  src/main/java/com/engg/digitalorg/services/CardService.java
  src/main/resources/logback.xml
Due: backend, frontend

service uri fix
  src/main/java/com/engg/digitalorg/api/CardApi.java
Due: backend, frontend

service uri fix
  README.md
  digital-org.sh
  src/main/java/com/engg/digitalorg/DigitalOrgApplication.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/repository/UserInGroupRepository.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/resources/application.properties
  src/main/resources/favicon.ico
  src/main/resources/templates/error.html
  src/main/resources/templates/home.html
  src/main/resources/templates/index.html
  src/test/java/com/engg/digitalorg/managers/GroupManagerTest.java
  src/test/java/com/engg/digitalorg/services/GroupServiceTest.java
Due: backend, frontend

build error in deployment due to memory issue and few services not working due to bad data set in database.
  README.md
  src/main/java/com/engg/digitalorg/DigitalOrgApplication.java
  src/main/java/com/engg/digitalorg/api/GroupApi.java
  src/main/java/com/engg/digitalorg/managers/GroupManager.java
  src/main/java/com/engg/digitalorg/model/request/UserToGroupRequest.java
  src/main/java/com/engg/digitalorg/services/GroupService.java
  src/main/resources/application.properties
  src/main/resources/templates/error.html
  src/main/resources/templates/home.html
  src/main/resources/templates/index.html
  src/test/java/com/engg/digitalorg/services/GroupServiceTest.java
Due: backend, frontend

Databse expired. updating new postgre db
  README.md
  src/main/resources/application.properties
Due: frontend

build correction.
  .circleci/config.yml
Due: none

adding gitAction
  .github/workflows/build.yml
  pom.xml
  src/test/java/com/engg/digitalorg/exception/BadRequestExceptionTest.java
  src/test/java/com/engg/digitalorg/exception/DigitalExceptionHandlerTest.java
  src/test/java/com/engg/digitalorg/exception/DigitalOrgExceptionTest.java
  src/test/java/com/engg/digitalorg/exception/ForbiddenExceptionTest.java
  src/test/java/com/engg/digitalorg/exception/NotFoundExceptionTest.java
  src/test/java/com/engg/digitalorg/managers/CardManagerTest.java
Due: none

adding gitAction
  pom.xml
Due: none

DB expired, adding new db
  src/main/resources/application.properties
Due: frontend

Path conditions:
  backend: any of: src/main/java/
  frontend: any of: src/main/
  tests: any of: src/main/test/
